body {
    font-family: tahoma;
    color:#282828;
    margin: 0px;
}



.flex-container-right-justified {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}


.nav-bar {
    background: linear-gradient(-90deg, #84CF6A, #16C0B0);
    height: 60px;
    margin-bottom: 15px;
}

.product {
    /*display: flex;*/
    flex-flow: wrap;
    padding: 1rem;
}

img {
    border: 1px solid #d8d8d8;
    width: 70%;
    margin: 40px;
    box-shadow: 0px .5px 1px #d8d8d8;
}

.product-image {
    width: 80%;
}

.product-image,
.product-info {
    margin-top: 10px;
    width: 50%;
}

.color-list {
    padding-inline-start: 10px;
}

.color-list li {
    display: inline-block;
}

.color-box {
    width: 50px;
    height: 20px;
    margin-top: 5px;
    padding: 10px;
    cursor: pointer;
}

.blue {
    background-color: #1E95EA;
}

.green {
    background-color: #84CF6A;
}

.sizes-list {
    width: 150px;
    margin-bottom: 25px;
    display: block;
}

.cart {
    margin-right: 25px;
    border: 1px solid #d8d8d8;
    padding: 5px 20px;
    width: 50px;
    height: 50px;
}


button {
    margin-top: 30px;
    border: none;
    background-color: #1E95EA;
    color: white;
    height: 40px;
    width: 100px;
    font-size: 14px;
}

.disabledButton {
    background-color: #d8d8d8 !important;
}

input {
    /*width: 100%;*/
    /*height: 25px;*/
    /*margin-bottom: 20px;*/
}

textarea {
    width: 100%;
    height: 60px;
}

.tab {
    margin-left: 20px;
    cursor: pointer;
}

.activeTab {
    color: #16C0B0;
    text-decoration: underline;
}

.onSale {
    background-color: chartreuse;
    color: #000;
    display: block;
    width: 240px;
    padding: 5px;
    text-align: center;
}

.add-to-cart-button {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    width: 100px;
    background-color: darkgreen;
    color: azure;
    text-decoration: none;
    text-align: center;
    margin: 15px 20px 15px 0;
    cursor: pointer;
}

.remove-item {
    display: inline-block;
    text-decoration: underline;
    cursor: pointer;
}

.outOfStock {
    color: red;
}

.membership-status {
    text-decoration: underline;
    color: mediumseagreen;
    margin: 0 0 15px 0;
    display: block;
}

.itemsInCart {
    display: inline-block;
    border: #d8d8d8 1px solid;
    border-radius: 5px;
    position: relative;
    top: 5px;
    padding: 10px;
}

.itemsInCart ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/** reviews *****/

.reviews {
    display: flex;
    flex-direction: column;
}

.review-form {
    width: 40%;
    background-color: #faf8f7;
    padding: 20px;
    margin: 10px;
    border: none;
}

.review-form form {
    width: 300px;
    padding: 25px;
    background-color: #ececec;
}

.review-form .submit {
    width: 120px;
    background-color: #14373e;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: .9rem;
    height: 45px;

}
.review-form input[type="radio"] {
    width: 16px;
}
