<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A Socks Product Page</title>
    <link rel="stylesheet" type="text/css" href="../css/product_style.css">
</head>
    <body>

        <div class="nav-bar"></div>
        <div id="app">
            <div class="cart">
                <p>Cart({{ cart }})</p>
            </div>
            <div class="product">
                <div class="product-image">
                    <img :src="image" :alt="altText" />
                </div>

                <div class="product-info">
                    <h1>{{ product }}</h1><span v-if="onSale" class="onSale">On Sale!</span>
                    <p>{{ description }}</p>
                    <p v-if="inventory > 10">In Stock</p>
                    <p v-else-if="inventory <= 10 && inventory > 0">Almost sold out!</p>
                    <p v-else>Out of Stock</p>

                    <ul >
                        <li v-for="detail in details">{{ detail }}</li>
                    </ul>

                    <h3>Choose your color:</h3>
                    <ul class="color-list">
                        <li @mouseover="updateProductImage(variant.variantImage) " v-for="variant in variants" :key="variant.variantId" :class="variant.variantColor">
                            {{ variant.variantColor }}
                        </li>
                    </ul>
                    <h3>Choose your size:</h3>
                    <select class="sizes-list" list="sizes" placeholder="choose your size">
                        <option selected value="">-- sizes -- </option>
                        <option id="sizes" v-for="size in sizes" :key="size.sizeId" :value="size.sizeId">{{ size.size }}</option>
                    </select>


                    <button class="add-to-cart-button" v-on:click="addToCart">add to cart</button>
                    <span class="remove-item" v-on:click="removeFromCart">remove item</span>
                </div>
            </div>



        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="../js/custom.js"></script>
    </body>
</html>
